<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Middle initial:</b>
  <%= @user.middle_initial %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>No stars:</b>
  <%= @user.no_stars %>    
  <%= "*" * (@user.no_stars || 0) %>

</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
