<h1>Profile</h1>
<p>
  Name:
  <%= @user.first_name %>
  <%= "#{@user.middle_initial}." unless @user.middle_initial.nil? %>
  <%= @user.last_name %>
</p>

<p>
  <b>No stars:</b>
  <%= @user.no_stars %>    
  <%= "*" * (@user.no_stars || 0) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Users List', users_path %>


